<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sasquatch Websighting - Edit </title>
</head>
<body>
    
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sasquatch Websighting - Show sighting</title>
</head>
<body>
    
    <h2>Sasquatch Websighting</h2>
    <h4 class="user-name">{{user.first_name}} {{user.last_name}}</h4>

    <a href="/dashboard" class="report btn btn-info">Dashboard</a> <br>
    <a href="/logout" class="logout btn btn-info">Logout</a>

    <div class="report-col">
        <h4>{{sighting.location}} on {{sighting.date_of_sighting
            |strftime}}</h4>
            <h5> What Happened:</h5>
            <p>{{sighting.what_happened}}</p>
            <h5 class="card-title"> # of Sasquatches: <span>{{sighting.no_of_sas}}</span></h5> 
            <h5 class="card-title1"> Reported By: <span> {{user.first_name}} {{user.last_name}}</span></h5>
            
            
    </div>
    
    



</body>
</html>
    
    



</body>
</html>