h2 {
    padding-left: 25px;
}

.user-name {
    position: absolute;
    right: 30px;
    top: 10px;
}

.report {
    position: absolute;
    right:30px;
}

.logout {
        position: absolute;
        right:30px;
        top: 100px;
    }

.sightings-col {
    padding-left: 25px;
    padding-top: 50px;
}

.sightings-box {
    width: 1200px;
    height: 580px;
    border: 1px solid black;
}

.sighting {
    border-bottom: 1px solid black;
    padding: 10px;;
}

.sighting h6, p {
    display: inline;
}

.sighting-btn{
    display: inline;
    align-items: flex-end;
}

.col-btn {
    display: inline;
}

.report-col {
    padding-left: 100px;
    padding-top: 50px;
}



.second-col {
    position: absolute;
    right: -520px;
    top: 20px;
}

.mb-3 {
    padding-bottom: 20px;
}